<ion-header *ngIf="hasLoaded">
  <ion-toolbar>
    <ion-title style="text-align: center">
      {{data.from}} - {{data.to}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="hasLoaded">
  <ion-grid>
    <ion-card *ngFor="let hora of horas;let precio = index">
      <ion-card-content>
        <ion-row>
          <ion-item>
            <h1 style="text-align: center">{{data.from}} - {{data.to}}</h1>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col><br>
            <p style="text-align: center; font-size: 20px"> {{hora}} - {{precios[precio]}}$ </p>
          </ion-col>
          <ion-col>
            <ion-button expand="block" size="large"> Reservar </ion-button>
          </ion-col>
        </ion-row>
        </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-button expand="full" (click)="goBack()"> Volver a home </ion-button>
</ion-content>
