<ion-header>
    <ion-toolbar color=principal>
        <ion-title style="text-align: center">
          This.EuroStart
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <label for="">From:</label>
      <ion-select placeholder="Choose city" [(ngModel)]="cityFrom">
          <ion-select-option *ngFor="let city of citiesList"  value="{{city}}">{{city}}</ion-select-option>
        </ion-select>
  </ion-item>
  <ion-item>
    <label for="">To:</label>
      <ion-select placeholder="Choose city" [(ngModel)]="cityTo">
          <ion-select-option *ngFor="let city of citiesList"  value="{{city}}">{{city}}</ion-select-option>
        </ion-select>
  </ion-item>
  <ion-item>
    <label for="">Start date:</label>
      <ion-datetime [(ngModel)]="fromDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <label for="">End date:</label>
    <ion-datetime min="{{fromDate}}"></ion-datetime>
  </ion-item>
  <ion-item>
    <label>Number of Adults:</label>
    <label for="">{{numberPassengers}}</label>
    <ion-button shape="round" size="small" (click)="addPassenger()" class="ion-padding-horizontal">+</ion-button>
    <ion-button shape="round" size="small" (click)="subPassenger()" class="ion-padding-horizontal">-</ion-button>
  </ion-item>
  <ion-item>
      <label>Number of Childs:</label>
      <label for="">{{numberChilds}}</label>
      <ion-button shape="round" size="small" (click)="addChild()" class="ion-padding-horizontal">+</ion-button>
      <ion-button shape="round" size="small" (click)="subChild()" class="ion-padding-horizontal">-</ion-button>
    </ion-item>
  <ion-button class="ion-float-right" (click)="sendData()">Submit</ion-button>
</ion-content>
